---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
    <h1>わたしたちについて</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aspernatur tempora facere natus ad blanditiis similique, odio est nostrum ullam sit atque omnis reiciendis asperiores? Delectus saepe distinctio, nihil, placeat odio officia cupiditate, doloribus nam deleniti est quasi. Unde tempore repudiandae numquam magnam, dicta quae excepturi nesciunt repellat culpa esse.</p>
    <a href='/'>Home</a>
</Layout>
