---
import Layout from '../layouts/Layout.astro';
import HeroVer2 from '../components/HeroVer2.astro';
import News from '../components/News.astro';
import YouTube from '../components/YouTube.astro';
import Player from '../components/Player.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="田窪寛之小牧良平配信ライブ">
  <main>
    <HeroVer2 />
  </main>
  <News />
  <YouTube />
  <About />
  <Player />
  <Contact />
</Layout>
