---
import Layout from "../layouts/Layout.astro";

// microCMS呼び出し
import { getBlogs } from "../library/microcms";
import _blogId_ from "./[blogId].astro";
const response = await getBlogs({ fields: ["id", "title", "eyecatch"] });
---

<Layout title="My first blog with Astro">
	<main>
		<ul>
			{
				response.contents.map((content: any) => (
					<li>
						{content.eyecatch && <img src={content.eyecatch.url} alt="画像">}
						<a href={content.id}>{content.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
