<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> </body>
  <form action="https://ssgform.com/s/QxZMMEESllqI" method="post">
    <div class="user-name flexContainer">
      <label for="user-name">お名前</label>
      <input type="text" id="user-name" name="お名前" required="required" />
    </div>
    <div class="user-email flexContainer">
      <label for="user-email">メールアドレス</label>
      <input type="email" id="user-email" name="メールアドレス" required="required" />
    </div>
    <div class="contact-contents flexContainer">
      <label for="contact-contents">お問い合わせ内容</label>
      <textarea id="contact-contents" name="お問い合わせ内容" required="required"></textarea>
    </div>
    <div class="btn">
      <button type="submit">送信する</button>
    </div>
  </form>
  <style>
    form {
      padding-top: 80px;
    }
  </style>
</html>
