---
import Container from './Container.astro';
---

<section id="contact">
  <h2 class="section-title">Contact</h2>
  <p>配信ライブに関するお問い合わせはこちらまでどうぞ</p>
  <Container>
    <form action="https://ssgform.com/s/QxZMMEESllqI" method="post">
      <div class="user-name flexContainer">
        <label for="user-name">お名前</label>
        <input type="text" id="user-name" name="お名前" required="required" />
      </div>
      <div class="user-email flexContainer">
        <label for="user-email">メールアドレス</label>
        <input type="email" id="user-email" name="メールアドレス" required="required" />
      </div>
      <div class="contact-contents flexContainer">
        <label for="contact-contents">お問い合わせ内容</label>
        <textarea id="contact-contents" name="お問い合わせ内容" required="required"></textarea>
      </div>
      <div class="btn">
        <button type="submit">送信する<span></span></button>
      </div>
    </form>
  </Container>
</section>
<style>
  section {
    padding-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
  form {
    width: 80%;
    margin: 8px auto;
  }
  .flexContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  label {
    font-weight: bold;
    text-align: left;
    color: var(--accent-light);
  }
  input,
  textarea {
    border: solid 1px var(--accent-light);
    border-radius: 4px;
    background: transparent;
    color: white;
    font-size: 1rem;
    padding: 8px;
  }
  textarea {
    height: 200px;
    resize: vertical;
  }
  .btn {
    text-align: right;
  }
  button {
    font-size: 1rem;
    font-family: 'Noto Serif JP';
    color: var(--gray-25);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  button:hover {
    transform: scale(1.03);
    transition: var(--theme-transition);
    color: white;
  }
  button:not(:hover) {
    transition: var(--theme-transition);
  }
  button span {
    vertical-align: -8px;
  }
  @media screen and (min-width: 768px) {
    form {
      width: 75%;
      margin: 8px auto 0;
    }
    .flexContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
    }
    label {
      width: 25%;
      font-weight: bold;
      margin-top: 6px;
    }
    input,
    textarea {
      flex-grow: 1;
    }
  }
</style>
