---
import { Image } from 'astro:assets';
import komakiImage from '../assets/komaki.png';
import takuboImage from '../assets/takubo.png';
import WideContainer from './WideContainer.astro';
---

<section>
  <WideContainer>
    <div class="wrap takubo">
      <div class="player-text">
        <h4>田窪寛之</h4>
        <h5>
          ピアニスト
          <a href="https://www.facebook.com/hirotakubow" target="_blank" rel="noopener noreferrer" class="icon">
            <svg width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path></svg>
          </a>
        </h5>
        <p>田窪寛之は、その指先から洗練された音楽の旋律が奏でられる存在である。彼の演奏は繊細かつ力強く、深い感情を胸に秘めながら鍵盤を舞台に奏でる。洗練されたテクニックと独自の表現力で、田窪は聴衆を音楽の奥深い世界へと誘う。彼のピアノはまさに芸術品であり、ジャズの新たなる躍動を生み出しているのである。</p>
      </div>
      <div class="player-image">
        <Image src={takuboImage} alt="田窪寛之" />
      </div>
    </div>
    <div class="wrap flexReverse komaki">
      <div class="player-text">
        <h4 class="reverse">小牧良平</h4>
        <h5 class="reverse">
          ベーシスト
          <a href="https://www.facebook.com/komaki.ryohei" target="_blank" rel="noopener noreferrer" class="icon">
            <svg width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path></svg>
          </a>
        </h5>
        <p>小牧良平は、低音域から湧き上がる重厚な音色をもつ存在である。彼のベースは堅牢かつ繊細なニュアンスを持ち、その奏でるリズムは聴衆の心を揺り動かす。小牧の指弾くベースは、音楽の基盤を築き上げ、ジャズの魅力を深化させている。緻密なフレーズと革新的なアプローチで、小牧はジャズの世界で確固たる地位を築いているのである。</p>
      </div>
      <div class="player-image">
        <Image src={komakiImage} alt="小牧良平" />
      </div>
    </div>
  </WideContainer>
</section>

<style>
  h4 {
    color: var(--accent-light);
  }
  h4 span {
    vertical-align: -6px;
  }
  .player-image {
    width: 80%;
    margin: 0 auto;
  }
  .icon {
    vertical-align: sub;
    color: var(--gray-25);
  }
  @media screen and (min-width: 768px) {
    .wrap {
      display: flex;
      justify-content: center;
      margin: 8px auto 0;
      gap: 8px;
    }
    .flexReverse {
      flex-direction: row-reverse;
    }
    .reverse {
      text-align: right;
    }
    .player-text {
      width: 48%;
    }
    .player-image {
      width: 48%;
    }
  }
</style>
<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const zoomInAnimation = (target: string) => {
    gsap.from(target, {
      scale: 0.7,
      scrollTrigger: {
        trigger: target,
        start: 'top+=25% bottom',
        end: 'center center',
        toggleActions: 'play none none none', // リバースや一時停止などのアクションを指定
      },
      onComplete: () => {
        gsap.to(target, {
          scale: 1,
          duration: 1,
        });
      },
    });
  };

  // takuboの要素に対するアニメーション
  zoomInAnimation('.takubo');

  // komakiの要素に対するアニメーション
  zoomInAnimation('.komaki');
</script>
